/* Style global pour la navbar */
.navbar {
  background-color: #f8f8f8; /* Couleur de fond  */
  z-index: 10;
}

/* marque */
.marque{
  color: #283b8c;
  font-weight: bold;
}


/* Liens du menu */
.navbar-nav .nav-link {
  color: #283b8c;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: #b9e5fb; /* Couleur de fond au survol */
}


/* Toggle button */
.navbar-toggler {
  border: none; /* Pas de bordure */
}

.navbar-toggler:focus {
  outline: none; /* Supprime le contour au focus */
  box-shadow: none; /* Supprime l'ombre au focus */
}

/* Responsive */
@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center; /* Centre les liens en mode mobile */
  }

  .navbar-nav .nav-link {
    margin-bottom: 10px; /* Espacement entre les liens en mode mobile */
  }
}

.carousel-item img {
  height: 600px; /* Laisse la hauteur s'ajuster proportionnellement */
}
